.hero {
  background-color: $color-dark;
  color: $color-light;
  min-height: 100vh;
  @include flex(center, column);

  &__title {
    font: $font-main;
    color: $color-accent;
  }

  &__tagline {
    font: $font-hl;
  }

  .nav__links {
    @include flex(center, row, 1.2em);
    padding-top: 1em;

    &--link {
      color: $color-light;
      position: relative;

      &:not(.btn) {
        @extend .lnk;
      }

      .img-wrapper {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        padding: 0.3em;
        transition: background-color 250ms ease-out;

        &:hover {
          background-color: $color-accent;
        }
      }
    }
  }
}
