.hero {
  background-color: $color-dark;
  color: $color-light;
  min-height: 100vh;
  @include flex(center, column);

  &__title {
    font: $font-main;
  }

  &__tagline {
    font: $font-hl;
  }

  .nav__links {
    @include flex(center, row, 2em);
    padding: 1em 0 0 0;

    &--link {
      color: $color-light;
    }
  }
}
