@import 'defaults';
@import 'media-queries';
@import 'utils';
@import 'welcome-page';

:root {
  @include mq(min-height, lg) {
    font-size: 32px;
  }

  @include mq(max-width, md-sm) {
    font-size: 14px;
  }

  @include mq(max-width, sm) {
    font-size: 11px;
  }
}
